
.header-section{
  display: flex;
  justify-content: center;
}
.search {
  width: 400px;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  /* border-right: none; */
  padding: 5px;
  height: 25px;
  font-size:16px;
  border-radius: 5px;
  outline: none;
  color: #868686;
}

.searchTerm:focus{
  color: #252525;
}

